@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9787ff;
  --hover: #705aff;
  --secondary: #c6bdff;
}

.btn{
  @apply bg-[--primary] text-white px-3 py-1 rounded-md cursor-pointer transition-all hover:bg-[--hover]
}

.input{
  @apply border-2 w-full border-gray-600 p-2 rounded-md focus:border-2 focus:border-[--hover] focus:outline-none
}

.smallPage{
  min-height: calc(100vh - 72px);
}